body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.block-body {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.d1 {
    background: LightSkyBlue;
}

.d2 {
    background: LightSalmon;
}

.d3 {
    background: PaleTurquoise;
    grid-area: 1/3/3/5;
}

.d4 {
    background: LightPink;
}

.d5 {
    background: PaleGreen;
    justify-self: center;
    align-self: center;
}

.d6 {
    background: teal;
}

.d7 {
    background: greenyellow;
}

.d8 {
    background: PaleTurquoise;
}

.d9 {
    background: magenta;
    grid-row: 1/3;
}

.d10 {
    background: yellow;
    grid-column: 3/5;
}

.d11 {
    background: cyan;
    grid-area: 4/2/5/3;
}

.container {
    font-size: 40px;
    width: 50%;
    min-height: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 25%));
    /*grid-template-columns: 24.25% 24.25% 24.25% 24.25%;*/
    grid-template-rows: auto;
    /*Shorthand version
grid-gap: 1% 1%;*/
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.item1 {
    background: LightSkyBlue;
    grid-area: header;
}

.item2 {
    background: LightSalmon;
    grid-area: advert;
}

.item3 {
    background: PaleTurquoise;
    grid-area: content;
}

.item4 {
    background: lightpink;
    grid-area: footer;
}

.container-landing {
    font-size: 1.5em;
    min-height: 300px;
    width: 50%;
    min-height: 100%;
    margin-left: 10px;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: "header" "advert" "content" "footer";
}

@media (min-width: 300px) {
    .container-landing {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "advert header" "advert content" "advert footer";
    }
}

@media (min-width: 400px) {
    .container-landing {
        grid-template-areas: "header header" "advert content" "footer footer";
    }
}