body {
    width: 100%;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
}

.nav-link {
    width: calc(50%/3);
    height: 100%;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.nav-link:hover {
    background-color: rgba(0, 255, 213, 0.764);
    text-decoration: underline;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

#welcome-section-title {
    font-size: 50px;
    margin-bottom: 20px;
}

#projects-headline {
    text-align: center;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em 2em;
    padding: 1em 2em 1em 2em
}

.project-tile {
    width: 100%;
    border: 1px solid;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.tile-image {
    width: 100%;
}

.tile-title {
    font-size: 18px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#contact-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 100%;
}

#profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#profile-image {
    width: 25px;
}

#profile-text {
    padding-right: 10px;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: coral;
    margin-top: 30px;
}

#company {
    padding-right: 20px;
    font-weight: bolder;
    color: white;
}

#copyright {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
}

@media (max-width: 750px) {
    #navbar {
        flex-direction: column;
        min-width: 300px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .nav-link {
        width: 100%;
    }
}